<div class="playlist_index" >
	<ul class="unstyled" >
		<% playlists.each do |p| %>
			<li>
				<div class="droppable">
					<div class="playlist_id" data-playlist-id="<%= p.id %>"></div>
					<a href="#" class="playlist  new">
						<i class="icon-music"></i> <%= p.name %>
					</a>
					
						<%= render "playlists/shared/list", :playlist => p %>

				</div>	
			</li>
		<% end %>
	</ul>
</div>	