<div class="playlist_container" data-ident="<%= playlist.id %>"  >
	<ul class="unstyled" id="list_titles">
		<% playlist.links.each do |link| %>
			<li class="draggable draggable1" >
				<div class="playlist_item " >
					<a class="playlist-title" id="<%= link.video_id %>" >
						<%= link.title %>
					</a>
				</div>	
			</li>
		<% end %>	
	</ul>
</div>	