<div class="party_box" >
	<div>
		<div class="modal-header">
			<a data-dismiss="modal" id="pop_close" class="close"  ></a>
			<h3>PlayOn Party Box</h3>
		</div>
		<div class="modal-body">
			<h1>Hier baue ich gerade die PlayOn Party Box über die mobiele Android App die ich</h1><br>
			<h1>entwickle können alle freunde über ihr Handy ihre Musik in die Party Box tun</h1><br>
			<h1>Und die wird einfach abgespielt von alleine </h1><br>
			<h1>Optional könnt ihr auch Raten und wenn die Mehrheit gegen den Song ist</h1><br>
			<h1>wird einfach der nächste gespielt!</h1><br>
			<h1>Bei Fragen oder weiteren Ideen einfach eine Email schreiben</h1><br><br>
			<h1>Email : playon@eichnau.com </h1><br><br>
			<h1>Viel Spaß wünscht euch Cevin Eichnau ;)</h1>

		<div class="modal-footer">
			<button data-dismiss="modal" id="add_playlist" class="btn party_ok">Ok</button>
		</div>
	</div>
</div>