- friends.each do |f|
	%h1.friend_profile{:id => f.id}
		= f.username

:javascript		

	$(".friend_profile").click(function(){
		console.log(this);
		window.location.href = Routes.user_path($(this).attr("id"));
	});