<!-- <div class="slide-out">
	     
         <div id="facebook_preview">Facebook Connect</div>
         <div id="facebook">
         	Hier entsteht bald Facebook Connect
         	Gucken was Freunde hören mit ihnen schreiben und ihnen Vorschläge 
         	für eure gute Musik geben
         </div>
         
</div> -->
<div class="slide-out">
	     
         <div id="facebook_preview">Facebook Connect</div>
         <div id="facebook">
         	<div id="fb-root"></div>
         	<div class="facebook_connect" >
         		<a href="">Inhalt</a>
         	</div>
            <div class="show_online_friends" >
               <button onclick="show_online_friends()" >Show Online Friends</button>
            </div>
            <div class="show_unread_messages" >
               <button onclick="show_unread_messages()" >Show unread messages</button>
            </div>
            <div class="login-info" >
               <a onclick="login()" href="#">Login</a>
               <p>Logg dich ein und sei immer mit deinen Freunden verbunden </a><br>
               <p>schreib mit ihnen und teile ihnen mit was für gute Musik du endeckt hast </a><br><br>
               <p>Ps:ist noch in der beta (Du kannst sehen wer online ist und ob du neue nachrichten hast)</a><br>
               <p>Bitte aktzeptiere alles beim login damit du in PlayOn zugriff auf deine Facebook Daten hast</a>
            </div>   
         	<a class="fb_us_id" href="#"></a>
         	<div>
         		<ul class="fb_ul" >
         			
         		</ul>
         	</div>
         	<div>
         		<ul class="fb_ms" >
         		</ul>
         	</div>
         </div>
         
</div>