<div id="main">
	<div>
		<h1 id="playon_info" >PlayOn</h1>
		<p>the free music app</p>
	</div>
</div>
<hr>
<footer>
	<div class="pull-left">
		<a href="http://www.eichnau.com" class="ll">eichnau.com</a>
	</div>
	<div class="pull-right">
		<a href="#">About</a> • 
			<!--a(href= '/privacy-policy') Privacy Policy--><!--|  &bullet; --><!--a(href= '/terms-of-service') Terms of Service--><!--|  &bullet; -->
		<a href="http://eichnau.com" id="keyboard-shortcuts">by Cevin Eichnau</a>
	</div>
</footer>