
<link href="assets/website.css" type="text/css" rel="stylesheet" />

<script type="text/javascript">


(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-41409417-1', 'eichnau.com');
ga('send', 'pageview');

$(document).ready(function() {



  $(".showcase").awShowcase(
  {
    content_width:                  700,
    content_height:                 470,
    fit_to_parent:                  false,
    auto:                                   false,
    interval:                               2000,
    continuous:                             false,
    loading:                                true,
    tooltip_width:                  200,
    tooltip_icon_width:             32,
    tooltip_icon_height:    32,
    tooltip_offsetx:                18,
    tooltip_offsety:                0,
    arrows:                                 true,
    buttons:                                true,
    btn_numbers:                    true,
    keybord_keys:                   true,
    mousetrace:                             false, 
    pauseonover:                    true,
    stoponclick:                    false,
    transition:                             'hslide', /* hslide/vslide/fade */
    transition_delay:               0,
    transition_speed:               500,
    show_caption:                   'onload', /* onload/onhover/show */
    thumbnails:                             false,
    thumbnails_position:    'outside-last', /* outside-last/outside-first/inside-last/inside-first */
    thumbnails_direction:   'vertical', /* vertical/horizontal */
    thumbnails_slidex:              1, /* 0 = auto / 1 = slide one thumbnail / 2 = slide two thumbnails / etc. */
    dynamic_height:                 false, /* For dynamic height to work in webkit you need to set the width and height of images in the source. Usually works to only set the dimension of the first slide in the showcase. */
    speed_change:                   true, /* Set to true to prevent users from swithing more then one slide at once. */
    viewline:                               false, /* If set to true content_width, thumbnails, transition and dynamic_height will be disabled. As for dynamic height you need to set the width and height of images in the source. */
    custom_function:                null /* Define a custom function that runs on content change */



  });





    var utils = {
        maskWidth : $('#mask').width(),
        currIndex : 0,
        setWidths : function(){

            utils.maskWidth = $('#mask').width();

            $('#wrapper_projekt').css('width',$('.full').length * utils.maskWidth);


            $('.full').each(function(index){
                $(this).css('width',utils.maskWidth);
            });


            $('#wrapper_projekt').css('margin-left',-(utils.currIndex*utils.maskWidth));

        }
    }

    $('#slide_projekt_playon').click(function(){
        utils.currIndex = $(this).index();
        $('#wrapper_projekt').animate({'margin-left':-(utils.currIndex*utils.maskWidth)});
    });




    (function($) {
    var contentHeight = $('#footer .content').height();
    $('#footer').css('bottom',-contentHeight);
    var hidden = true,animating = false;
    
    $('#footer .handle a').click(function(e) {
        e.preventDefault();
        animating = true;
        if(hidden) {
            $('#footer').animate({
                    bottom:0
                },400,function() {
                    animating = false;
                    hidden = false;
                    $('#footer .handle a').html("Close");
            });
        } else {
            $('#footer').animate({
                    bottom:-contentHeight
                },400,function() {
                    animating = false;
                    hidden = true;
                    $('#footer .handle a').html("Impressum");
            });
        }
            
    });
}(jQuery))


    $('#slide_projekt_askme').click(function(){
         utils.currIndex = 0;
         $('#wrapper_projekt').animate({'margin-left':0});
    }) ;

    $(window).resize(function() {
        utils.setWidths();
    });

    utils.setWidths();





function filterPath(string) {
  return string
  .replace(/^\//,'')
  .replace(/(index|default).[a-zA-Z]{3,4}$/,'')
  .replace(/\/$/,'');
}
var locationPath = filterPath(location.pathname);
var scrollElem = scrollableElement('html', 'body');

$('a[href*=#]:not([href=#])').click(function() {
  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
    || location.hostname == this.hostname) {

    var target = $(this.hash);
  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
  if (target.length) {
    if (target.selector == "#red_link") {
      $('html,body').animate({
       scrollTop: target.offset().top+7

     }, 1000, function(){
           //       fix_nav();
      });
    } else if (target.selector == "#purple_link") {
      $('html,body').animate({
       scrollTop: target.offset().top-63
     }, 1000, function(){
         // unfix_nav();
      });
    } else if (target.selector == "#green_link") {
      $('html,body').animate({
       scrollTop: target.offset().top+107
     }, 1000);
    } else if (target.selector == "#blue_link") {
      $('html,body').animate({
       scrollTop: target.offset().top
     }, 1000);
    }

    return false;
  } 
}
});


$(".contact_email").hover(function(){
  $(".contact_hover_email").slideDown();
},function () {
 $(".contact_hover_email").slideUp();
});

$(".contact_email_playon").hover(function(){
  $(".contact_hover_email_playon").slideDown();
},function () {
 $(".contact_hover_email_playon").slideUp();
});

$(".share_facebook").hover(function(){
  $(".share_hover_facebook").slideDown();
},function () {
 $(".share_hover_facebook").slideUp();
});

$(".contact_playon").hover(function(){
  $(".contact_hover_playon").slideDown();
},function () {
 $(".contact_hover_playon").slideUp();
});


$(".contact_facebook").hover(function(){
  $(".contact_hover_facebook").slideDown();
},function () {
 $(".contact_hover_facebook").slideUp();
});

$(".contact_skype").hover(function(){
  $(".contact_hover_skype").slideDown();
},function () {
 $(".contact_hover_skype").slideUp();
});

$(".contact_skype").click(function(){
  $("#SkypeButton_Chat_cevineichnau_1").find("a").trigger("click");
});

jQuery(document).ready(function($) {

  $('.lightbox_trigger').click(function(e) {

    e.preventDefault();

    var image_href = $(this).attr("data-url");

    if ($('#lightbox').length > 0) { 


      $('#content').html('<p>X</p><img src="' + image_href + '" />');
      
      $('#lightbox').show();
    }
    
    else { 


      var lightbox = 
      '<div id="lightbox">' +

      '<div id="content">' + 
      '<p>X</p>' +
      '<img src="' + image_href +'" />' +
      '</div>' +  
      '</div>';

      $('body').append(lightbox);
    }
    
  });
  

  $('#lightbox').live('click', function() { 
    $('#lightbox').hide();
  });

});





var x = 1;
$(".playon_gall").click(function(){





    if($(this).attr('data-proname') == 'askme'){
        var uri = "http://eichnau.com";
        var url = [uri+'/assets/askme.png', uri+'/assets/askme.png', uri+'/assets/askme.png'];
        var images = ['/assets/askme.png', '/assets/askme.png','/assets/askme.png'];


        var el = $(this).attr("id");
        console.log(x);

        if(el == "prev"){
            x-=1;
            if(x < 0){
                x = 2;
            }

            $('#poster').animate({opacity: 0, marginLeft: "-500px"}, 500, function(){
                $("#poster2").css("background", "url("+images[x]+") 20px 0px no-repeat");
                $("#poster2").attr("data-url", url[x]);
            }).animate({opacity: 1, marginLeft: "0px"}, 1000);
        } else if (el == "next"){
            if(x > 1){
                x = -1;
            }
            x += 1;

            $('#poster').animate({opacity: 0,  marginLeft: "500px"}, 500, function(){
                $("#poster2").css("background", "url("+images[x]+") 20px 0px no-repeat");
                $("#poster2").attr("data-url", url[x]);
            }).animate({opacity: 1, marginLeft: "0px"}, 1000);
        }
    }  else {
        var uri = "http://eichnau.com";
        var url = [uri+'/assets/playon_login.png', uri+'/assets/playon.png', uri+'/assets/playon_chat.png'];

        var images = ['/assets/playon_login.png', '/assets/playon.png','/assets/playon_chat.png'];


        var el = $(this).attr("id");
        console.log(x);

        if(el == "prev"){
            x-=1;
            if(x < 0){
                x = 2;
            }

            $('#poster').animate({opacity: 0, marginLeft: "-500px"}, 500, function(){
                $("#poster").css("background", "url("+images[x]+") 20px 0px no-repeat");
                $("#poster").attr("data-url", url[x]);
            }).animate({opacity: 1, marginLeft: "0px"}, 1000);
        } else if (el == "next"){
            if(x > 1){
                x = -1;
            }
            x += 1;

            $('#poster').animate({opacity: 0,  marginLeft: "500px"}, 500, function(){
                $("#poster").css("background", "url("+images[x]+") 20px 0px no-repeat");
                $("#poster").attr("data-url", url[x]);
            }).animate({opacity: 1, marginLeft: "0px"}, 1000);
        }
    }


});



$(".onShare").click(function(){
  window.open('http://www.facebook.com/sharer/sharer.php?u=http://eichnau.com&t=Cevin Eichnau', 'facebook_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');

});


$(".show_impressum").click(function(){

  $("#footer").toggle("slow").addClass("slideDownPanel");
  setTimeout(function() {
    if( $(".slideDown") != undefined ){
      window.scrollTo(0, document.body.scrollHeight);  
      $("#footer").removeClass("slideDown");
    }

  }, 800);


});


function scrollableElement(els) {
  for (var i = 0, argLength = arguments.length; i <argLength; i++) {
    var el = arguments[i],
    $scrollElement = $(el);
    if ($scrollElement.scrollTop()> 0) {
      return el;
    } else {
      $scrollElement.scrollTop(1);
      var isScrollable = $scrollElement.scrollTop()> 0;
      $scrollElement.scrollTop(0);
      if (isScrollable) {
        return el;
      }
    }
  }
  return [];
}

});

$(document).ready(function () {  

  var new_top = $(".home_nav").offset().top;
  $('.home_nav').addClass('blue_selected');

  $(window).scroll(function (event) {

    var y = $(this).scrollTop();

    var left = $('.home_nav').offset().left;

    var bottom = $("#blue_block_bottom").offset().top;

  });
});



$(document).ready(function () {
  var bluebuttonbottom = $('#blue_block_bottom').offset().top - $('#main_nav').height() -  parseFloat($('#blue_link').css('marginBottom').replace(/auto/, 0));

  var bluebutton = $('#blue_link').offset().top - parseFloat($('#blue_link').css('marginBottom').replace(/auto/, 0));
  $(window).scroll(function (event) {
    var y = $(this).scrollTop();
    
    
    
    
    if (y >= bluebutton) {
      $('.home_nav').addClass('blue_selected');
    } else {
      $('.home_nav').removeClass('blue_selected');
    }

    if (y >= bluebuttonbottom) {
      $('.home_nav').removeClass('blue_selected');
    }

  });
});

$(document).ready(function () {


    function fix_nav(){
        $(".projekt_navbar").css({
            'position': 'fixed',
            'top': '75px',
            'width': '100%',
            'background':'rgb(63, 63, 63)'
        });
    }


    function unfix_nav(){
        $(".projekt_navbar").css({
            'position': 'relative',
            'top': '5px',
            'width': '100%',
            'background':'rgb(63, 63, 63)'
        });
    }



  var redbuttonbottom = $('#red_block_bottom').offset().top - $('#main_nav').height() -  parseFloat($('#red_link').css('marginBottom').replace(/auto/, 0));
  var blue= $('#blue_block_bottom').offset().top - $('#main_nav').height() -  parseFloat($('#blue_link').css('marginBottom').replace(/auto/, 0));
  var redbutton = $('#red_link').offset().top - parseFloat($('#red_link').css('marginBottom').replace(/auto/, 0));
  $(window).scroll(function (event) {
   var counter =  $('.about_nav').find(".counter");
   var y = $(this).scrollTop();

   if (y >= redbutton +107) {
    $('.about_nav').addClass('red_selected');
    fix_nav();
  }  else {
       unfix_nav();
    $('.about_nav').removeClass('red_selected');
  }

  if (y >= redbuttonbottom) {

    $('.about_nav').removeClass('red_selected');
  }

});
});

$(document).ready(function () {


    function fix_nav(){
        $(".projekt_navbar").css({
            'position': 'fixed',
            'top': '75px',
            'width': '100%',
            'background':'rgb(63, 63, 63)'
        });
    }


    function unfix_nav(){
        $(".projekt_navbar").css({
            'position': 'relative',
            'top': '1035px',
            'width': '100%',
            'background':'rgb(63, 63, 63)'
        });
    }


  var purplebuttonbottom = $('#purple_block_bottom').offset().top - $('#main_nav').height() -  parseFloat($('#purple_link').css('marginBottom').replace(/auto/, 0));

  var purplebutton = $('#purple_link').offset().top - parseFloat($('#purple_link').css('marginBottom').replace(/auto/, 0));
  $(window).scroll(function (event) {
   var red = $('#red_block_bottom').offset().top - $('#main_nav').height() -  parseFloat($('#red_link').css('marginBottom').replace(/auto/, 0));
   var y = $(this).scrollTop();




   if (y >= purplebutton+45) {
                     unfix_nav();
    $('.pricing_nav').addClass('purple_selected');
  } else {

    $('.pricing_nav').removeClass('purple_selected');
  }

  if (y >= purplebuttonbottom) {

    $('.pricing_nav').removeClass('purple_selected');
  }

});
});

$(document).ready(function () {
  var greenbuttonbottom = $('#green_block_bottom').offset().top - $('#main_nav').height() -  parseFloat($('#green_link').css('marginBottom').replace(/auto/, 0));

  var greenbutton = $('#green_link').offset().top - parseFloat($('#green_link').css('marginBottom').replace(/auto/, 0));
  $(window).scroll(function (event) {
    var y = $(this).scrollTop();

    if (y >= greenbutton) {
      $('.testimonial_nav').addClass('green_selected');
    } else {
      $('.testimonial_nav').removeClass('green_selected');
    }

    if (y >= greenbuttonbottom) {
      $('.testimonial_nav').removeClass('green_selected');
    }

  });
});

</script>


</head>


<div id="website_container">

  <div id="nav_contain">
    <div class="header_navbar" ></div>

    <div id="main_nav">
      <ul>

        <a href="#blue_link"><li class="home_nav">About me<div class="counter" ></div></li></a>
        <a href="#red_link"><li class="about_nav">Projekte<div class="counter" ></div></li></a>
        <a href="#purple_link"><li class="pricing_nav">Piano<div class="counter" ></div></li></a>
        <a href="#green_link"><li class="testimonial_nav">Kontakt<div class="counter" ></div></li></a>

      </ul>
    </div>
  </div>

  <div id="content_contain"> 


    <div id="blue_block_top"><div id="blue_link"></div> </div>     

    <div class="blocks blue_block">
     <h1 class="header_playon" style="margin-top:100px !important; box-shadow:none !important; color:black" >About me</h1>


     <div id="second">
      <div class="story"><div class="bg"></div>
      <div class="float-right">

       <p></p>
       <p>Hey mein Name ist Cevin Eichnau, </p>
       <p>Ich bin Software Entwickler bei der
         <a href="http://empuxa.com"  target="_blank" class="empuxa_link" >empuxa GmbH</a>
         .
         Ich entwickle seit September 2012 und liebe es! 
         Auch in meiner Freizeit entwickle ich liebend gern, zurzeit arbeite ich 
         an PlayOn einer Social Music App
         und an AskMe eine Platform in der wie in einem Forum Fragen, Anregungen und Sonstiges gepostet werden kann <br>
           mehr dazu unter <a href="#red_link" class="playon_link"> Projekte </a>
           <br>
         Besonders gefallen tun mir die Sprachen Ruby On Rails, Html 5 und CSS 3. <br>
         Unter anderem kann ich auch Javascript (+jQuery) und Java (Android) <br>
         Außer der Software Entwicklung spielt auch <a href="#purple_link" class="piano_link">Musik</a> eine große Rolle
         in meinem Leben,
         ich spiele Klavier, Schlagzeug und ein bisschen Gitarre.<br>
         Ich suche ständig neue Aufgaben und Herausforderungen, also wenn ihr Fragen habt zu mir oder der Software-Entwicklung
         dann <a href="#green_link">kontaktiert</a> mich.
       </p>
     </div>
   </div>

 </div>  

</div>

<div id="blue_block_bottom"></div>



<div id="red_block_top"><div id="red_link"></div></div>


<div class="blocks red_block">

    <div class="projekt_navbar" >
        <h1>
            <a class="slide_projekt" id="slide_projekt_askme" data-proid="projekt_askme">AskMe</a>
            <a class="slide_projekt" id="slide_projekt_playon" data-proid="projekt_playon" >PlayOn</a>
        </h1>
    </div>
    <div id="mask" >
        <div id="wrapper_projekt" >
    <div class="projekt_askme full" >
        <h1 class="header_playon_right" style="box-shadow:none !important;" >AskMe</h1>
        <div id="third">

            <div class="story">

                <div class="float-left piano_floatss">

                    <div class="arrows" >
                    <div class="playon_gall" data-proname="askme" id="prev"></div>
                    </div>
                    <div data-url="/assets/askme.png" id="poster2" class="lightbox_trigger" >

                        <h1 style="color:transparent;" >PlayOn</h1>




                    </div>
                    <div class="arrows" >
                    <div class="playon_gall" data-proname="askme" id="next"></div>
                    </div>
                    <p class="piano_text" >
                        AskMe ist ein Social App in der Du und Deine Freunde mit allen Leuten aus deiner Stadt <br>
                        Content teilen könnt wie Z.b Irgendwelche Fragen, Tolle Konzerte, wenn jemand einen Job sucht oder was verkaufen will <br>
                        Dabei seht ihr nur Posts aus eurer Stadt (Aber ihr könnt auch wenn ihr woll aus anderen Städten die Posts sehe) <br>
                        Außerdem könnt ihr mit euren Freunden Chatten und Spaß haben.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="projekt_playon full"  >
        <h1 class="header_playon_right" style="box-shadow:none !important;" >PlayOn</h1>
        <div id="third">

            <div class="story">

                <div class="float-left piano_floatss">

                    <div class="arrows" >
                    <div class="playon_gall"  id="prev"></div>
                    </div>
                    <div data-url="/assets/playon.png" id="poster" class="lightbox_trigger" >

                        <h1 style="color:transparent;" >PlayOn</h1>




                    </div>
                    <div class="arrows" >
                    <div class="playon_gall" id="next"></div>
                    </div>
                    <p class="piano_text" >
                        PlayOn ist eine Social Music App die ich entwickle,
                        es geht darum die vorteile von einer Music App und einer Social Chat App
                        ohne die Nachteile wie "Werbung" usw. zu verbinden!
                        in PlayOn kann mann später aus verschiedenen Musik Quellen wie Youtube, MyVideo und ClipFish
                        sich Musik zusammen suchen und in Playlisten speichern, dank der Android App PlayOn die ich mache
                        hat mann seine Musik auch immer unterwegs dabei!
                        Neben bei kann mann auch mit Freunden chatten, neue Leute kennen lernen und Musik weiter empfehlen.
                        Eins der geplannten Features wird sein die PlayOn Party Box,
                        mit der sollen du und deine Freunde mit euren Handy's eure lieblings Musik in
                        eine riesige Virtuelle "Box" tun und durch Zufall oder abstimmung alle lieder laufen lassen!
                        über Feedback, Tipps oder Ideen würde ich mich sehr freuen unten in Bereich <a href="#green_link">Kontakt</a>
                        könnt ihr mir schreiben !
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>


</div>

<div id="red_block_bottom"></div>



<div id="purple_block_top"><div id="purple_link"></div></div>

<div class="blocks purple_block">  

 <h1 class="header_playon" style="box-shadow:none !important; color:black;">Piano</h1>
 <div id="showcase" class="showcase">

  <div class="showcase-slide">

    <div class="showcase-content">

      <div class="showcase-content-wrapper">
        <h1 style="color:black;" >In meiner Freizeit spiele <br/>
          ich sehr gerne Klavier<br>
          Hier ein paar Lieder von mir

        </h1>
        <em>pssst.. du kannst auch mit den Pfeiltasten navigieren</em>

      </div>
    </div>
  </div>




  <div class="showcase-slide">
    <a href="#play" class="play_piano">Play</a>
    <h1 class="piano_title" style="color:black;" >My Hearth will go on</h1>
    <div class="showcase-content">
      <%= render "home/shared/video" %>
    </div>
  </div>



</div>

<div id="purple_block_bottom"></div>


<div id="green_block_top"><div id="green_link"></div></div>

<div class="blocks green_block">  

 <h1 class="header_playon_right" style="box-shadow:none !important;">Kontakt</h1>

 <div id="nav_contain1">

  <div id="main_nav">
    <ul>
      <a href="http://facebook.com/cevin.eichnau"><li class="contact_facebook">Facebook me<h6 class="contact_hover_facebook">Cevin Eichnau</h6></li></a>
  
       <a href="#"><li class="contact_skype">Skype me<h6 class="contact_hover_skype">cevineichnau</h6></li></a>

       <a href="mailto:cevin@empuxa.com"><li class="contact_email">Email<h6 <div class="contact_hover_email">cevin@empuxa.com</h6></li></a>
     

      <script type="text/javascript" src="http://cdn.dev.skype.com/uri/skype-uri.js"></script>
      <div id="SkypeButton_Chat_cevineichnau_1" class="hide">
        <script type="text/javascript">
          Skype.ui({
            "name": "chat",
            "element": "SkypeButton_Chat_cevineichnau_1",
            "participants": ["cevineichnau"],
            "imageSize": 32
          });
        </script>
      </div>
    </ul>
  </div>
</div>  
</div>
<div id="green_block_bottom">


<!-- <div class="footer_activate" >
  <a class="activate_footer" > Impressum </a>
</div> -->

</div>


</div>
<span class="copy"> Cevin Eichnau © 2013</span>
<div id="footer">

    <div class="handle">

        <a href="#">Impressum</a>
    </div>
    <div class="content">
        <h2>Impressum</h2>

        <p> Verantwortlich für den Inhalt dieser Webseite: </p> <br>
        <p>Cevin Eichnau</p>
        <p>Tröndelweg 90</p>  
        <p>24147 Kiel</p> <br>
        <p>cevin@empuxa.com</p>  
        <p>oder</p>
        <p>info@eichnau.com</p>  <br>
        <p>eichnau.com</p>
    </div>
</div>

</div>




</div>