

<!DOCTYPE html>
<html>
  <head>
<meta charset="UTF-8">
    <meta http-equiv='content-type' content='text/html;charset=utf-8'>
    <meta name="viewport" content="width=1024">
    <meta name='description' content='Cevin Eichnau Web and Mobile Developer'>
    <meta name='keywords' content='cevin, Cevin, eichnau, Eichnau, Ruby on Rails, Software, Kiel, Web-Entwicklung, Android-Entwicklung, Web-Development, Development, Developer, Mobile' >
    <title>Cevin Eichnau</title>
    <link rel='author' href='https://plus.google.com/u/0/+CevinEichnau' />
    <style>
      .bg-1{
        background: url("http://eichnau.com/assets/askme.png");
      }
      .section-1{
        background: none;
	margin-bottom:0px;
	height:450px;      
}

	.sorry{
	color:white;
	margin-top:10px;
}
    </style>
  </head>
  <body>
    
    <nav class="navbar navbar-default" role="navigation">
      <div class="row">
        <div class="col-md-10 non-float">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <!--<ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>-->
          </div>
        </div>
      </div>
    </nav>
    <div class="section-1">
      <div class="content">
        <h1>Cevin Eichnau<br> <small>Web & Mobile Developer</small><br><small class="sorry" >Meine Seite wird gerade umgestalltet, ich bitte um euer 
Verstaendnis</small></h1>
      </div>
    </div>
    
    <div class="row margin-negative">
      <div class="col-md-12">
        <div class="section-footer">
          <footer>
            <div class="row">
              <div class="col-md-10 non-float">
                <div class="row">
                  <div class="col-md-6">
                    <address>
                      <strong>Cevin Eichnau</strong><br>
                      Tr&ouml;ndelweg 90<br>
                      24147 Kiel<br>
                      <abbr title="Telefon">Tel:</abbr> (0431) 28 91 11 05
                    <br>  <abbr title="Email">Email:</abbr> 
                      <a href="mailto:cevin@eichnau.com">cevin@eichnau.com</a>
                    </address>
                  </div>
                  <div class="col-md-6">
                    <div class="block">
                      <div class="img-right">
                        <a href="http://www.facebook.com/cevin.eichnau" class="social facebook right" target="_blank"></a>
                        <a href="https://plus.google.com/u/0/+CevinEichnau" class="social google" target="_blank"></a>
                        <a href="https://twitter.com/CevinEichnau" class="social twitter right" target="_blank"></a>
                        <a href="mailto:cevin@eichnau.com" class="social email" target="_blank"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>

