<!DOCTYPE html>
<html lang="en-US">
	<head>
    	<meta charset="utf-8">
    	<title>Cevin Eichnau</title>
	</head>
	<body>
		<div class="content" >
			<h1>About me !</h1> <br>
			<h3>My name is Cevin Eichnau <br> <br>
				I am software developer at empuxa GmbH <br>
				In my spare time <br>
			    I work a lot with the building <br>
				of games and websites <br>
				I'm still in the beginner area <br>
				and developing since about august 2012 <br>
				my favorite languages ​​are: <br>
				Ruby, Ruby on Rails, Javascript (jQuery), CSS and Html5
			</h3>
		</div>	
	</body>
</html>


					