<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cevin Eichnau</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <meta charset="utf-8" />
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" type="text/css" rel="stylesheet" />
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"rel="stylesheet" type="text/css" />
  <style type="text/css">


    .navbar.navbar-inverse.navbar-static-top{
      position: relative;
    }

    .logo{
      width: 70px;
      position: absolute;
      height: 50px;
      z-index: 10;
      top: 2px;
      left: 7px;
    }

    .page_change, .active{
      background: #222222 !important;
    }

    .navbar-brand{
      width: 80px;
      height: 50px;
    }
  </style>
  </head>
  <body>
    <div class="container">
      <header class="clearfix border-b">
        <h2>Cevin Eichnau<span class="subheader" >Web & Mobile Developer</span></h2>
        <div class="navbar-wrapper">
          <div class="container">
            <div class="navbar navbar-inverse navbar-static-top">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                <a class="navbar-brand page_change" href="/home/1"><img class="logo" src="/assets/logo.png" alt="logo"></a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="page_1 active"><a href="/home/1" class="page_change">About me</a></li>
                  <li class="page_2"><a href="/home/2" class="page_change">Projekte</a></li>
                  <li class="page_3"><a href="/home/3" class="page_change go_map">Kontakt</a></li>
                  <li class="dropdown hide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social</a>
                    <ul class="dropdown-menu">
                      <li><a href="http://facebook.com/cevin.eichnau" target="_blank">Facebook</a></li>
                      <li><a href="http://plus.google.com/u/0/114332928688389346733" rel="author" target="_blank">Google+</a></li>
                      <li><a href="http://twitter.com/CevinEichnau">Twitter</a></li>
                      <li><a href="skype:cevineichnau?call">Skype</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="main">
        <ul class="timeline">
          <li class="event">
            <input type="radio" name="tl-group" class="label_1" />
            <label ></label>
            <div class="thumb user-1 conten_1"><span></span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3 class="conten_1" id="foo" >Über mich</h3>
                  <p>Ich bin Software Entwickler bei der Bornholdt Lee GmbH. Ich
                entwickle seit September 2012 und liebe es!<br />
                Auch in meiner Freizeit entwickle ich liebend gern, zurzeit arbeite ich an
                PlayOn einer Social Music App und an AskMe eine<br />
                Platform in der wie in einem Forum Fragen, Anregungen und Sonstiges gepostet
                werden kann mehr dazu unter Projekte</p>

                <p class="lead">Besonders gefallen tun mir die Sprachen Ruby On Rails, Html 5
                und CSS 3. Unter anderem kann ich auch Javascript (+jQuery) und Java
                (Android) Au&#223;er der Software Entwicklung spielt auch Musik eine
                gro&#223;e Rolle in meinem Leben, ich spiele Klavier, Schlagzeug und ein
                bisschen Gitarre.</p>

                <p class="lead">Ich suche st&#228;ndig neue Aufgaben und Herausforderungen,
                also wenn ihr Fragen habt zu mir oder der Software-Entwicklung dann
                kontaktiert mich.</p>
                </div>
              </div>
            </div>
          </li>
          <li class="event">
            <input type="radio" name="tl-group" class="label_2"/>
            <label></label>
            <div class="thumb user-2 conten_2"><span></span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3 class="conten_2" >empuxa GmbH <span>01.09.2012 - 30.09.2013</span></h3>
                  <p>Bei der empuxa GmbH habe ich das Entwickeln gelernt von HTML über Javascript bis hin zu Ruby on Rails.
                    Ein Jahr habe ich bei Ihnen gearbeitet und so viel Wissen wie möglich aufgesaugt,
                    sie haben mich 2012 aufgenommen und gleich unter ihre professionelle Finger genommen.
                    Über die Monate hinweg habe ich mir bei der empuxa GmbH Ruby on Rails mit Erfolg angeeignet.
                    Dort habe ich verschiedensten Technologien kennengelernt wie Backbone, Haml, SASS, LESS, Jquery, Javascript, Ajax, CSS, HTML, Android, RoR und vieles mehr.  
                    </p>
                </div>
              </div>
            </div>
          </li>
          <li class="event">
            <input type="radio" name="tl-group" class="label_3" />
            <label></label>
            <div class="thumb user-3 conten_3"><span></span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3 class="conten_3" >Bornholdt Lee GmbH  <span> 01.10.2013 - Heute </span> </h3>
                  <p>Am 01.10.2013 begann ich meine Ausbildung zum Fachinformatiker in der Anwendungsentwicklung bei der Bornholdt Lee GmbH, dort werden meine Schwerpunkte auf PHP, IOS und Android liegen.
                    Das Team ist sehr nett und vor allem sehr professionell ich freue mich sehr auf die Arbeit bei ihnen
                    und hoffe so viel über PHP zu lernen wie möglich.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>