<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cevin Eichnau</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <meta charset="utf-8" />
  <style type="text/css">


    .navbar.navbar-inverse.navbar-static-top{
      position: relative;
    }

    .logo{
      width: 70px;
      position: absolute;
      height: 50px;
      z-index: 10;
      top: 2px;
      left: 7px;
    }

    .page_change, .active{
      background: #222222 !important;
    }

    .navbar-brand{
      width: 80px;
      height: 50px;
    }
  </style>
  </head>
  <body>
    <div class="container1">
      <header class="clearfix border-b">
        <div class="navbar-wrapper">
          <div class="container nav-container">
            <div class="navbar navbar-inverse navbar-static-top">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                <a class="navbar-brand page_change" href="/home/1"><img class="logo" src="/assets/logo.png" alt="logo"></a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="page_1"><a href="/home/1" class="page_change">About me</a></li>
                  <li class="page_2"><a href="/home/2" class="page_change">Projekte</a></li>
                  <li class="page_3 active"><a href="/home/3" class="page_change go_map">Kontakt</a></li>
                  <li class="dropdown hide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social</a>
                    <ul class="dropdown-menu">
                      <li><a href="http://facebook.com/cevin.eichnau" target="_blank">Facebook</a></li>
                      <li><a href="http://plus.google.com/u/0/114332928688389346733" rel="author" target="_blank">Google+</a></li>
                      <li><a href="http://twitter.com/CevinEichnau">Twitter</a></li>
                      <li><a href="skype:cevineichnau?call">Skype</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="page3 pages">
      <div id="myCarousel3" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active map_fullscreen">
            <div class="container_map">
              <div id="google_map"></div>
            </div>

            <div class="carousel-caption maps_index">
              <p>Tr&#246;ndelweg 90</p>

              <p>24147 Kiel</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container marketing cont_mark">
        <h2 class="featurette-heading">Cevin <span class="text-muted">Eichnau</span></h2>

        <p>Tr&#246;ndelweg 90</p>

        <p>24147 Kiel</p>

        <p>Email: cevin@eichnau.com</p>
      </div>
    </div>
  </div><script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"
  type="text/javascript">
</script><script type="text/javascript">

  initialize();
  console.log("rte");
  google.maps.visualRefresh = true;

  var map;
  function initialize() {

  var mapOptions = {
    zoom: 16,
    center: new google.maps.LatLng(54.304610, 10.176560),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var kiel = new google.maps.LatLng(54.304610, 10.176560);




  map = new google.maps.Map(document.getElementById('google_map'),
      mapOptions);

  var coordInfoWindow = new google.maps.InfoWindow();
  coordInfoWindow.setContent("Hier wohne ich");
  coordInfoWindow.setPosition(kiel);
  coordInfoWindow.open(map);

  google.maps.event.addListener(map, 'zoom_changed', function() {
    coordInfoWindow.setContent(createInfoWindowContent());
    coordInfoWindow.open(map);
  });


  }

  resize();

    $(".toggle-project").click(function(){
        var item = $(this).attr("data-value");
        $('#myCarousel').carousel( Number(item) ); 
        return false; 
    });

    
    function resize(){
      
       

       $(".icon-fullscreen").click(function(){
        
          $(".map_fullscreen").animate({"height":"100%"}, 200, function(){
            console.log("test");
             google.maps.event.trigger(map, 'resize');
          });
          $(this).removeClass("icon-fullscreen").addClass("icon-resize-small");
          $(this).unbind('click');
          
          resize();

         
        });

    $(".icon-resize-small").click(function(){

      $(".map_fullscreen").animate({"height":"400px"}, 200);
      $(this).removeClass("icon-resize-small").addClass("icon-fullscreen");
      $(this).unbind('click');

      resize();
    });
    }

            
initialize();
  
  </script>
      </div>
  </body>
</html>