<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='content-type' content='text/html;charset=utf-8'>
    <meta name="viewport" content="width=1024">

    <meta name='description' content='Cevin Eichnau Web and Mobile Developer'>
    <meta name='keywords' content='cevin, eichnau, Ruby on Rails, Software, Kiel, Web-Entwicklung, Android-Entwicklung' >

    <link rel='author' href='https://plus.google.com/u/0/+CevinEichnau' />

    <%= stylesheet_link_tag    "staging", :media => "all" %>
    <%= javascript_include_tag "staging" %>
  </head>
  <body>
    <div class="bg bg-1"></div>
    <div class="comment comment-1">
      <h1>Lorem Ipsum</h1>
      <p>Dollar ipsum ma tjesta de Ipsa Lora</p>
    </div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="row">
        <div class="col-md-10 non-float">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="section-1">
      <div class="content">
        <h1>Cevin Eichnau<br> <small>Web & Mobile Developer</small></h1>
      </div>
    </div>
    <div class="container">
      <div class="main">
        <div class="row">
          <div class="col-md-12">
            <div class="section-2">
              <div class="row white">
                <div class="col-md-10 non-float">
                  <div class="well content">
                    <h1>Ich bin Cevin<br> <small>19 Jahre alt</small></h1>
                      <p>
                        Ich bin Software Entwickler bei der Bornholdt Lee GmbH. Ich entwickle seit September 2012 und liebe es!
                        Auch in meiner Freizeit entwickle ich liebend gern, zurzeit arbeite ich an PlayOn einer Social Music App und an AskMe eine
                        Platform in der wie in einem Forum Fragen, Anregungen und Sonstiges gepostet werden kann mehr dazu unter Projekte

                        Besonders gefallen tun mir die Sprachen Ruby On Rails, Html 5 und CSS 3. Unter anderem kann ich auch Javascript (+jQuery) und Java (Android) Au&szlig;er der Software Entwicklung spielt auch Musik eine gro&szlig;e Rolle in meinem Leben, ich spiele Klavier, Schlagzeug und ein bisschen Gitarre.

                        Ich suche st&auml;ndig neue Aufgaben und Herausforderungen, also wenn ihr Fragen habt zu mir oder der Software-Entwicklung dann kontaktiert mich.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="parallax-1">
              <div class="row margin-negative">
                <div class="col-md-12">
                  <div class="wrapper">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="section-3">
                  <div class="row white">
                    <div class="col-md-10 non-float">
                      <div class="well content">
                        <h1 class="centered" >Meine Interessen</h1>
                        <div class="row">
                          <div class="col-md-6 col-xs-12 col-sm-6">
                            <h1>Ruby on Rail</h1>
                            <p>Lorem ipsum da lores de rusa Lora ipsum Ipta mia dusto de lotra</p>
                          </div>
                          <div class="col-md-6 col-xs-12 col-sm-6">
                            <h1>Android</h1>
                            <p>Lorem ipsum da lores de rusa Lora ipsum Ipta mia dusto de lotra</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-xs-12 col-sm-6">
                            <h1>Responsive Design</h1>
                            <p>Lorem ipsum da lores de rusa Lora ipsum Ipta mia dusto de lotra</p>
                          </div>
                          <div class="col-md-6 col-xs-12 col-sm-6">
                            <h1>Musik</h1>
                            <p>Lorem ipsum da lores de rusa Lora ipsum Ipta mia dusto de lotra</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    
    <div class="row margin-negative">
      <div class="col-md-12">
        <div class="section-footer">
          <footer>
            <div class="row">
              <div class="col-md-10 non-float">
                <div class="row">
                  <div class="col-md-6">
                    <address>
                      <strong>Cevin Eichnau</strong><br>
                      Tr&ouml;ndelweg 90<br>
                      24147 Kiel<br>
                      <abbr title="Telefon">Tel:</abbr> (0431) 28 91 11 05
                    </address>

                    <address>
                      <strong>Cevin Eichnau</strong><br>
                      <abbr title="Email">Email:</abbr> 
                      <a href="mailto:cevin@eichnau.com">cevin@eichnau.com</a>
                    </address>
                  </div>
                  <div class="col-md-6">
                    <div class="block">
                      <div class="img-right">
                        <a href="http://www.facebook.com/cevin.eichnau" class="social facebook right" target="_blank"></a>
                        <a href="https://plus.google.com/u/0/+CevinEichnau" class="social google" target="_blank"></a>
                        <a href="https://twitter.com/CevinEichnau" class="social twitter right" target="_blank"></a>
                        <a href="mailto:cevin@eichnau.com" class="social email" target="_blank"></a>
                        <a href="#" class="imprint" href="#">Impressum</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="impressum">
                  <h2>Impressum</h2>
                  <p>Cevin Eichnau<br>Tr&ouml;ndelweg 90<br>24147 Kiel</p>
                  <p>Phone: +49 431 28 92 11 05<br> E-Mail: cevin@eichnau.com</p>
                  <p>
                    Für den Inhalt verantwortlich: Cevin Eichnau
                  </p>
                  <h2>1. Inhalt des Onlineangebotes</h2>
                  <p>
                    Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit,
                    Vollständigkeit oder Qualität der bereitgestellten Informationen.
                    Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller
                    oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung
                    der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und
                    unvollständiger Informationen verursacht wurden, sind grundsätzlich
                    ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches
                    oder grob fahrlässiges Verschulden vorliegt.
                    <br>
                    Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor,
                    Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern,
                    zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
                  </p>
                  <h2>2. Verweise und Links</h2>
                  <p>
                    Bei direkten oder indirekten Verweisen auf fremde Webseiten ("Hyperlinks"),
                    die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine
                    Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem
                    der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich
                    und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.
                    <br>
                    Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung
                    keine illegalen Inhalte auf den zuverlinkenden Seiten erkennbar waren.
                    Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft
                    der verlinkten / verknüpften Seiten hat der Autor keinerlei Einfluss.
                    Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller
                    verlinkten / verknüpften Seiten, die nach der Linksetzung verändert wurden.
                    Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes
                    gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten
                    Gästebüchern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und in allen
                    anderen Formen von Datenbanken, auf deren Inhalt externe Schreibzugriffe
                    möglich sind. Für illegale, fehlerhafte oder unvollständige Inhalte und
                    insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart
                    dargebotener Informationen entstehen, haftet allein der Anbieter der Seite,
                    auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige
                    Veräffentlichung lediglich verweist.
                  </p>

                  <h2>3. Urheber- und Kennzeichenrecht</h2>
                  <p>
                    Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der
                    verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zubeachten,
                    von ihm selbst erstellte Grafiken, Tondokumente, Videosequenzen und
                    Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen
                    und Texte zurückzugreifen.<br>Alle innerhalb des Internetangebotes
                    genannten und ggf. durch Drittegeschützten Marken- und Warenzeichen
                    unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen
                    Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen
                    Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss
                    zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt
                    sind!<br>Das Copyright für veröffentlichte, vom Autor selbst erstellte
                    Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung
                    oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und
                    Texte in anderen elektronischen oder gedruckten Publikationen ist
                    ohne ausdrückliche Zustimmung des Autors nicht gestattet.
                  </p>

                  <h2>4. Datenschutz</h2>
                  <p>
                    Wir erheben und verwenden Ihre personenbezogenen Daten ausschließlich
                    im Rahmen der Bestimmungen des Datenschutzrechts der Bundesrepublik
                    Deutschland. Im Folgenden unterrichten wir Sie über Art, Umfang und
                    Zwecke der Erhebung und Verwendung personenbezogener Daten. Sie können
                    diese Unterrichtung jederzeit auf unserer Webseite abrufen.
                  </p>
                  <h3>4.1. Datenverarbeitung auf dieser Internetseite</h3>
                  <p>
                    Ich erhebe und speichere automatisch in meinem Server Log
                    Files Informationen, die Ihr Browser an mich übermittelt. Dies sind
                    der Browsertyp und die Version des Browsers, das verwendete Betriebssystem,
                    die zuvor besuchte Seite, der Hostname des zugreifenden Rechners
                    (IP-Adresse und die Uhrzeit der Anfrage.
                  </p>
                  <p>
                    Diese Daten sind für mich nicht bestimmten Personen
                    zuordnungsbar. Eine Zusammenführung dieser Daten mit anderen
                    Datenquellen wird nicht vorgenommen.
                  </p>
                  <h3>4.2. Nutzungsdaten (personenbezogene Daten)</h3>
                  <p>
                    Wir erheben und verwenden personenbezogene Daten von Ihnen, soweit
                    dies erforderlich ist, um die Inanspruchnahme unseres Internetangebotes
                    zu ermöglichen (Nutzungsdaten). Dazu gehören insbesondere Merkmale
                    zu Ihrer Identifikation. Die Angabe dieser personenbezogenen Daten
                    (E-Mail-Adressen, Namen, Anschriften) erfolgt auf freiwilliger Basis.
                    Die Verwendung eines Pseudonyms zur Nutzung unseres Internetangebotes
                    ist gestattet. Ihre persönlichen Daten werden ausschließlich zu
                    Inanspruchnahme unseres Internetangebotes genutzt.
                  </p>
                  <p>
                    Die Löschung der gespeicherten personenbezogenen Daten erfolgt,
                    wenn Sie Ihre Einwilligung zur Speicherung widerrufen, wenn ihre
                    Kenntnis zur Erfüllung des mit der Speicherung verfolgten Zwecks
                    nicht mehr erforderlich ist oder wenn ihre Speicherung aus sonstigen
                    gesetzlichen Gründen unzulässig ist.
                  </p>
                  <h3>4.3. Verwendung von Google Analytics</h3>
                  <p>
                    Diese Website benutzt Google Analytics, einen Webanalysedienst der
                    Google Inc., um eine Analyse der Benutzung der Website zu ermöglichen.
                    Die durch den Einsatz von Google Analytics erzeugten Informationen
                    über Ihre Nutzung diese Website (ausschließlich Ihrer IP-Adresse)
                    werden an einen Server der Google Inc. in den USA übertragen und dort
                    gespeichert. Google wird diese Informationen lediglich dazu verwenden,
                    die Nutzung der Website zu analysieren, indem anonymisierte Auswertungen
                    und Grafiken zur Anzahl der Besuche, Anzahl der pro Nutzer aufgerufenen
                    Seiten usw. erstellt werden. Diese setzen wir ausschließlich zu Zwecken
                    der eigenen Marktforschung und vor allem der Optimierung und bedarfsgerechten
                    Gestaltung unserer Webseiten ein. Durch die Nutzung dieser Webseite
                    erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten
                    durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor
                    benannten Zweck einverstanden.
                  </p>
                  <p>
                    Der Erhebung und Nutzung Ihrer IP-Adresse durch Google Analytics
                    können Sie jederzeit mit Wirkung für die Zukunft widersprechen.
                    Nähere Informationen hierzu finden Sie unter&nbsp;<a title="Google Tools" href="http://tools.google.com/dlpage/gaoptout?hl=de">tools.google.com</a>.
                    Mehr Informationen zur von Google eingesetzten Technologie finden sie
                    unter&nbsp;<a title="Google Analytics" href="http://www.google.com/analytics">www.google.com/analytics</a>.
                  </p>
                  <h3>Auskunftrecht</h3>
                  <p>
                    Sie haben jederzeit das Recht auf Auskunft über die bezüglich Ihrer
                    Person gespeicherten Daten, deren Herkunft und Empfänger sowie den
                    Zweck der Speicherung. Auskunft über die gespeicherten Daten gibt der
                    Datenschutzbeauftragte (datenschutz@eichnau.com).
                  </p>
                  <p>
                    Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben
                    veröffentlichten Kontaktdaten von mir wie Postanschriften,
                    Telefon- und Faxnummern sowie E-Mail-Adressen durch Dritte zur Übersendung
                    von nicht ausdrücklich angeforderten Informationen ist nicht gestattet.
                    Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei
                    Verstößen gegen dieses Verbot sind ausdrücklich vorbehalten.
                  </p>
                  <h2>5. Rechtswirksamkeit dieses Haftungsausschlusses</h2>
                  <p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu
                    betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile
                    oder einzelne Formulierungen dieses Textes der geltenden Rechtslage
                    nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben
                    die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit
                    davon unberührt.
                  </p>
                  <p>
                    Alle Rechte vorbehalten.
                  </p>
                </div>
              </div>
            </div>
          </footer>
          <a href="#" class="move-down"></a>
        </div>
      </div>
    </div>
  </body>
</html>