<div class="slide-out">
	     
         <div id="facebook_preview">Facebook Connect</div>
         <div id="facebook">
         	Hier entsteht bald Facebook Connect
         	Gucken was Freunde hören mit ihnen schreiben und ihnen Vorschläge 
         	für eure gute Musik geben
         </div>
         
</div> 
