<!-- <div class="slide-out">
	     
         <div id="facebook_preview">Facebook Connect</div>
         <div id="facebook">
         	Hier entsteht bald Facebook Connect
         	Gucken was Freunde hören mit ihnen schreiben und ihnen Vorschläge 
         	für eure gute Musik geben
         </div>
         
</div> -->
<div class="slide-out">
	     
         <div id="facebook_preview">Facebook Connect</div>
         <div id="facebook">
         	<div id="fb-root"></div>
         	<div class="facebook_connect" >
         		<a href="">Inhalt</a>
         	</div>
         	<div>
         		<a onclick="login()" href="#">Login</a>
         	</div>
         	<div>
         		<a onclick="online_friends(100002744106448)" href="#">online friends</a>
         	</div>
         	<div>
         		<a onclick="send_message()" href="#">Send Message</a>
         	</div>
         	<div>
         		<a onclick="get_unread_count()" href="#">get Message</a>
         	</div>
         	<div>
         		<a onclick="get_message()" href="#">get Message1</a>
         	</div>
         	<div>
         		<a onclick="facebook_send_message('100002744106448')" href="#">send message to</a>
         	</div>
         	<a class="fb_us_id" href="#"></a>
         	<div>
         		<ul class="fb_ul" >
         			
         		</ul>
         	</div>
         	<div>
         		<ul class="fb_ms" >
         		</ul>
         	</div>
         </div>
         
</div>