<div id="video-wrapper"><div>
	<div id="quality">HD</div>
	<object type="application/x-shockwave-flash" frameborder="0" id="ytapiplayer" data="http://www.youtube.com/apiplayer?version=3&amp;enablejsapi=1&amp;playerapiid=video&amp;wmode=transparent"  frameborder="0" style="visibility: visible;"><param name="allowScriptAccess" value="always"><param name="wmode" value="transparent"></object></div>
</div>