<div class="post">
	<h1 class="create_play_on">
	<!--	<%=t :create_play_on %> -->
	</h1>

 <textarea id="txt_input" ></textarea>
 <button onclick="search()" >Search</button>
 <h1 id="txt_output" >Songs</h1>

 <div class="iframe" >
 	<iframe id="ytplayer" type="text/html" width="640" height="360"
	src="https://www.youtube.com/embed/GnW9lBIQ530"
	frameborder="0" allowfullscreen>
 </div>

</div>