<div class="post">
	<h1 class="create_play_on">
	<!--	<%=t :create_play_on %> -->
	</h1>

 <textarea id="txt_input" ></textarea>
 <button onclick="search()" >Search</button>
 <h1 id="txt_output" >Songs</h1>

</div>