<link rel="stylesheet" href="assets/playon/jukesy.css" type="text/css">


 <body class="fade in" style="">
  <div id="modal" class="modal hide fade"></div>
  <div id="header" class="navbar">
  	<div class="navbar-inner">
  		<div class="container">
  			<div class="row">
  				<div class="span2">
  					<a id="brand" href="/play_on" class="brand">PlayOn</a>
  					<a id="brand" href="/" class="brand" style="position:absolute; left:10px; top:0px;" >eichnau.com</a>
  				</div>
  				<div id="query-wrapper" class="span3">
  				<input id="query" type="text" spellcheck="false" placeholder="Search for music" name="jukesy-query">
  				<i class="icon-search"></i>
  				<button onclick="search()" >Search</button>
  			</div>
  			<div id="session-button">
  				<ul class="nav pull-right">
  					<li>
  						<a href="#" class="sign-up">Sign up</a>
  					</li>
  					<li>
  						<a href="#" class="sign-in highlight">Login</a>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</div>
  </div>
</div>
<div id="container" class="container">
	<div class="row">
		<div id="sidebar" class="sidebar-nav span2">
			<ul class="nav nav-list">
				<li>
					<a href="/user/anonymous/playlist/c161">
						<i class="icon-music">
						</i> Now Playing
					</a>
				</li>
				<li>
					<a href="/#" class="create-playlist">
						<i class="icon-plus-sign"> </i> Create Playlist
					</a>
				</li><!--li--><!--  a(href= '/favorites')--><!--    i.icon-star--><!--    |  Favorites-->
				<li>
					<a href="/user/anonymous/playlist">
						<i class="icon-th-list"></i> My Playlists
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="/user/anonymous/playlist/c161" class="playlist  new ">
						<i class="icon-music"></i> Untitled Playlist
					</a>
				</li>
			</ul>
		</div>
		<div class="span10">
			<div id="video-wrapper"><div>
				<div id="quality">HD</div>
				<object type="application/x-shockwave-flash" frameborder="0" id="ytapiplayer" data="http://www.youtube.com/apiplayer?version=3&amp;enablejsapi=1&amp;playerapiid=video&amp;wmode=transparent" width="480" frameborder="0" height="270" style="visibility: visible;"><param name="allowScriptAccess" value="always"><param name="wmode" value="transparent"></object></div>
			</div>
			<div id="main">
				<div>
					<h1>PlayOn</h1>
					<p>the free music app</p>
				</div>
			</div>
			<hr>
			<footer>
				<div class="pull-left">
					<a target="_blank" href="eichnau.com" class="ll">eichnau.com</a>
				</div>
				<div class="pull-right">
					<a href="/about">About</a> • 
						<!--a(href= '/privacy-policy') Privacy Policy--><!--|  &bullet; --><!--a(href= '/terms-of-service') Terms of Service--><!--|  &bullet; -->
					<a id="keyboard-shortcuts">by Cevin Eichnau</a>
				</div>
			</footer>
			<a onclick="play_songs(1)" >
	 				<h1 id="txt_output_1" ></h1> 
	 			</a> <br>
	 			<a onclick="play_songs(2)" >
	 				<h1 id="txt_output_2" ></h1> 
	 			</a> <br>
	 			<a onclick="play_songs(3)" >
	 				<h1 id="txt_output_3" ></h1> 
	 			</a>
		</div>
	</div>
</div>
<div class="clear"></div>
<div id="meow" class="span4"></div>
<div id="controls">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="track-info"></div>
				<div id="time-read">
					<div class="time-current"></div> 
						<div class="time-duration"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12 controls">
					<div class="controls-left">
						<div id="prev" class="control">
							<div class="icon-backward"></div>
						</div>
						<div id="play-pause" class="control">
							<div class="icon-play" href="javascript:void(0);" onclick="play();" >
							</div>
						</div>
						<div id="pause" class="control">
							<div class="icon-pause" href="javascript:void(0);" onclick="pause();" >
							</div>
						</div>
						<div id="next" class="control">
							<div class="icon-forward"></div>
						</div>
						<div id="volume" class="control">
							<div class="icon-volume-down"></div>
						</div>
						<div id="volume-bar" class="control">
							<div class="fill bar"></div>
						</div>
					</div>
					<div class="controls-middle">
						<div id="timer" class="control progress progress-success progress-striped">
							<div class="track bar" style="width: 0px;"></div>
							<div class="fill" style="width: 0px;"></div>
						</div>
					</div>
					<div class="controls-right">
						<div id="repeat" class="control off">
							<div class="icon-repeat"></div>
						</div>
						<div id="shuffle" class="control off">
							<div class="icon-random"></div>
						</div>
						<div id="radio" class="control off">
							<div class="icon-rss"></div>
						</div>
						<div id="fullscreen" class="control">
							<div class="icon-resize-full"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="templates">
	</body>

