<div class="page2 pages">
      <div id="myCarousel" class="carousel slide">

        <div class="carousel-inner">
          <div class="item active" id="fancycollage">
            <img src="http://placehold.it/1500x800" class="tr-image" />
            <div class="container">
              <div class="carousel-caption">
                <h1>FancyCollage</h1>

                <p>FancyCollage ist eine Android app zum bearbeiten von Bildern</p>

                <p><a class="btn btn-large btn-primary" href="#">Bald da</a></p>
              </div>
            </div>
          </div>

          <div class="item" id="askme">

            <img src="assets/askme.png" class="tr-image" />

            <div class="container">
              <div class="carousel-caption">
                <h1>AskMe</h1>

                <p>AskMe ist ein Social App in der Du und Deine Freunde mit allen Leuten
                aus deiner Stadt Content teilen k&#246;nnt.</p>

                <p><a class="btn btn-large btn-primary" href="#">Bald da</a></p>
              </div>
            </div>
          </div>

          <div class="item" id="playon">

            <img src="assets/playon.png" class="tr-image" />

            <div class="container">
              <div class="carousel-caption">
                <h1>PlayOn the social music app</h1>

                <p>PlayOn PlayOn ist eine Social Music App die ich entwickle, es geht
                darum die vorteile von einer Music App und einer Social Chat App ohne die
                Nachteile wie "Werbung" usw. zu verbinden!</p>

                <p><a class="btn btn-large btn-primary" href="#">Bald da</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-4x icon-double-angle-left controll-lr"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-4x icon-double-angle-right controll-lr"></span>
        </a>
      </div>


      <div class="container marketing">
        <div class="row">
          <div class="col-md-4 text-center">
            <img class="img-circle toggle-project img" src="http://placehold.it/140x140"
            id="fancycollage-toggle" data-value="0" />

            <h2>FancyCollage</h2>

            <p>Bilder einfach &#252;berall bearbeiten</p>

            <p><a class="btn btn-default" href="#">Bald da &#187;</a></p>
          </div>

          <div class="col-md-4 text-center">
            <img class="img-circle toggle-project img" src="assets/askme.png" id=
            "askme-toggle" data-value="1" />

            <h2>AskMe</h2>

            <p>Fragen, Antworten oder einfach nur lustige Inhalte garantiert.</p>

            <p><a class="btn btn-default" href="#">Bald da &#187;</a></p>
          </div>

          <div class="col-md-4 text-center">
            <img class="img-circle toggle-project img" src="assets/playon.png" id=
            "playon-toggle" data-value="2" />

            <h2>PlayOn</h2>

            <p>Musik, Freunde, und mehr &#252;berall dabei.</p>

            <p><a class="btn btn-default" href="#">Bald da &#187;</a></p>
          </div>
        </div>
      </div>
    </div>