
  <table>
    <tr>
      <th>Title</th>
      <th class="editPost">Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><h3><%= post.title %></h3></td>
      <td class="editPost" ><%= post.body.split(" ")[0..5].join(" ").gsub("<br>"," ").force_encoding('utf-8') if post.body != nil %>.....</td>
      <div class="editPost" >
        <td class="editPost" ><%= link_to 'Show', post %></td>
      </div>
    </tr>
  <% end %>
  </table>

  <br />
<script type="text/javascript">
  $(".libtp").addClass("current");
</script>