<div class="post" >
	<p id="notice"><%= notice %></p>

	<p>
	  <h1>Title:</h1>
	  <%= @post.title %>
	</p>

	<p>
	  <h1>Body:</h1>
	  <%= @post.body %>
	</p>
	<br><br><br>
	<%= link_to 'Back', posts_path %>
</div>
