<!DOCTYPE html>
<html lang="en-US">
	<head>
    	<meta charset="utf-8">
    	<title>Cevin Eichnau</title>
	</head>
	<body>
		<div id="fb-root"></div>
		<div class="content" >
			<h1>Have you any questions? ASK ME!</h1> 
			<h3> write a Email: <img src="assets/email.png"> </h3> <br>
			<h1>Or :</h1> 
			<a class="mail" href="mailto:quest@eichnau.com"><h3>Click here to Send a Email</h3></a> 
			<a class="mail" href="http://www.facebook.com/cevin.eichnau"><h3>Click here to visit me by Facebook</h3></a>
			<a class="mail" onclick="facebook_send_message('100002744106448')"><h3>Click here to write me by Facebook</h3></a>
			<a class="mail" href="#"><h3>My cell phone number: 0176 926 830 41</h3></a>
	    </div>	
	</body>
</html>