<!DOCTYPE html>
<html lang="en-US">
	<head>
    	<meta charset="utf-8">
    	<title>Cevin Eichnau</title>
	</head>
	<body>
		<div id="fb-root"></div>
		<div class="content" >
			<h1><%=t :contact_0 %></h1> 
			<h3> <%=t :contact_1 %> <img src="assets/email.png"> </h3> 
			<a class="mail" ><h3><%=t :contact_2 %></h3></a><br>
			<h1><%=t :contact_3 %></h1> 
			
			<div class="button" id="vmf" >
		      <a href="http://www.facebook.com/cevin.eichnau">visit me on facebook</a>
		      <p class="top">click to visit </p>
		      <p class="bottom1">Cevin Eichnau</p>
		    </div>

		    <div class="button" id="wme" >
		      <a href="mailto:info@eichnau.com">write a email</a>
		      <p class="top">click to write </p>
		      <p class="bottom1">Cevin Eichnau</p>
		    </div>
			
			<div class="button" id="wmf" >
		      <a onclick="facebook_send_message('100002744106448')">write me on facebook</a>
		      <p class="top">click to write </p>
		      <p class="bottom1">Cevin Eichnau</p>
		    </div>
	    </div>	
	</body>
</html>