<!DOCTYPE html>
<html lang="en-US">
	<head>
    	<meta charset="utf-8">
    	<title>Cevin Eichnau</title>
 
    	<!-- <link rel="stylesheet" href="css/style.css" media="screen"> -->

	</head>
	<body>
		<div id="main">
			<header class="header">
				<nav class="nav">
	    			<div>
	    				<ul class="hmenu">
	    					<li>
	    						<a href="/">Home</a>
	    					</li>
	    					<li>
	    						<a href="/contact">Contact</a>
	    					</li>
	    				</ul> 
	       			</div>
	    		</nav> 
	    		<div class="content" >
	    			<h1>Have you any questions ?</h1> <br>
	    			<a class="mail" href="mailto:quest@eichnau.com"><h3>Click here to Send a Email</h3></a> <br>
	    			<h3>Or write self a Email: info@eichnau.com </h3>
	    		</div>
	    	</header> 
	    </div>	
	</body>
</html>