<h1>Titanic Piano Cover by Cevin Eichnau</h1>




<script type="text/javascript">
 
$(document).ready(function()
{
	$("#showcase").awShowcase(
	{
		content_width:			700,
		content_height:			470,
		fit_to_parent:			false,
		auto:					false,
		interval:				3000,
		continuous:				false,
		loading:				true,
		tooltip_width:			200,
		tooltip_icon_width:		32,
		tooltip_icon_height:	32,
		tooltip_offsetx:		18,
		tooltip_offsety:		0,
		arrows:					true,
		buttons:				true,
		btn_numbers:			true,
		keybord_keys:			true,
		mousetrace:				false, 
		pauseonover:			true,
		stoponclick:			false,
		transition:				'hslide', 
		transition_delay:		0,
		transition_speed:		500,
		show_caption:			'onload', 
		thumbnails:				true,
		thumbnails_position:	'outside-last', 
		thumbnails_direction:	'vertical', 
		thumbnails_slidex:		1, 
		dynamic_height:			false, 
		speed_change:			true, 
		viewline:				false, 
		custom_function:		null 
	});
});

</script>



<div style="width: 700px; margin: auto;">

	

	<div id="showcase" class="showcase">

		<div class="showcase-slide">

			<div class="showcase-content">
				<span style="background-color: #fdeee0;"><iframe width="660" title="Titanic Piano" src="http://www.youtube.com/embed/e1BpksMSHQI?HD=1;rel=0;showinfo=0;controls=0" height="389" frameborder="0"></iframe>
			</div>
			<div class="showcase-thumbnail">
				<img src="http://img.youtube.com/vi/e1BpksMSHQI/0.jpg" alt="01" width="140px" />
				<div class="showcase-thumbnail-caption"><h1>Titanic</h1></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<span style="background-color: #fdeee0;"><iframe width="660" title="Titanic Piano" src="http://www.youtube.com/embed/e1BpksMSHQI?HD=1;rel=0;showinfo=0;controls=0" height="389" frameborder="0"></iframe>
			</div>
			<div class="showcase-thumbnail">
				<img src="http://img.youtube.com/vi/e1BpksMSHQI/0.jpg" alt="01" width="140px" />
				<div class="showcase-thumbnail-caption"><h1>Titanic</h1></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<span style="background-color: #fdeee0;"><iframe width="660" title="Titanic Piano" src="http://www.youtube.com/embed/e1BpksMSHQI?HD=1;rel=0;showinfo=0;controls=0" height="389" frameborder="0"></iframe>
			</div>
			<div class="showcase-thumbnail">
				<img src="http://img.youtube.com/vi/e1BpksMSHQI/0.jpg" alt="01" width="140px" />
				<div class="showcase-thumbnail-caption"><h1>Titanic</h1></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<span style="background-color: #fdeee0;"><iframe width="660" title="Titanic Piano" src="http://www.youtube.com/embed/e1BpksMSHQI?HD=1;rel=0;showinfo=0;controls=0" height="389" frameborder="0"></iframe>
			</div>
			<div class="showcase-thumbnail">
				<img src="http://img.youtube.com/vi/e1BpksMSHQI/0.jpg" alt="01" width="140px" />
				<div class="showcase-thumbnail-caption"><h1>Titanic</h1></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<span style="background-color: #fdeee0;"><iframe width="660" title="Titanic Piano" src="http://www.youtube.com/embed/e1BpksMSHQI?HD=1;rel=0;showinfo=0;controls=0" height="389" frameborder="0"></iframe>
			</div>
			<div class="showcase-thumbnail">
				<img src="http://img.youtube.com/vi/e1BpksMSHQI/0.jpg" alt="01" width="140px" />
				<div class="showcase-thumbnail-caption"><h1>Titanic</h1></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<span style="background-color: #fdeee0;"><iframe width="660" title="Titanic Piano" src="http://www.youtube.com/embed/e1BpksMSHQI?HD=1;rel=0;showinfo=0;controls=0" height="389" frameborder="0"></iframe>
			</div>
			<div class="showcase-thumbnail">
				<img src="http://img.youtube.com/vi/e1BpksMSHQI/0.jpg" alt="01" width="140px" />
				<div class="showcase-thumbnail-caption"><h1>Titanic</h1></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<span style="background-color: #fdeee0;"><iframe width="660" title="Titanic Piano" src="http://www.youtube.com/embed/e1BpksMSHQI?HD=1;rel=0;showinfo=0;controls=0" height="389" frameborder="0"></iframe>
			</div>
			<div class="showcase-thumbnail">
				<img src="http://img.youtube.com/vi/e1BpksMSHQI/0.jpg" alt="01" width="140px" />
				<div class="showcase-thumbnail-caption"><h1>Titanic</h1></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
		</div>

		<div class="showcase-slide">
			
			<div class="showcase-content">
				<span style="background-color: #fdeee0;"><iframe width="660" title="Titanic Piano" src="http://www.youtube.com/embed/e1BpksMSHQI?HD=1;rel=0;showinfo=0;controls=0" height="389" frameborder="0"></iframe>
			</div>
			<div class="showcase-thumbnail">
				<img src="http://img.youtube.com/vi/e1BpksMSHQI/2.jpg" alt="01" width="140px" />
				<div class="showcase-thumbnail-caption"><h1>Titanic</h1></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
		</div>

		<div class="showcase-slide">

			<div class="showcase-content">
				<span style="background-color: #fdeee0;"><iframe width="660" title="Titanic Piano" src="http://www.youtube.com/embed/e1BpksMSHQI?HD=1;rel=0;showinfo=0;controls=0" height="389" frameborder="0"></iframe>
			</div>
			<div class="showcase-thumbnail">
				<img src="http://img.youtube.com/vi/e1BpksMSHQI/0.jpg" alt="01" width="140px" />
				<div class="showcase-thumbnail-caption"><h1>Titanic</h1></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
		</div>
	</div>
		
</div>



