@font-face{
    font-family:FontAwesome;
    src:url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.eot?#iefix) format('eot'),
	url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.woff) format('woff'),
	url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf) format('truetype'),
	url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.svg#FontAwesome) format('svg');
    font-weight:400;font-style:normal;
}

body, html {height: 100%}
.modal .hide .fade .in{display: none;}
.create_play_on1{position:absolute; top:100px; left:300px; color:orange;}
.amuna{padding:0;}
.playlist_form{display:none}
.amina{margin-top:20px}
.fill-fill{width: 100%;}
#search{
	position: absolute;
	left: 250px;
	top: 10px;
}
.play_form{
	display:none;
}

.convers_show{
	display: none;
}

.partial_inviteds, .partial_friends, .partial_messages{
	display: none;
}

.friend_profile{
	cursor: pointer;
}

.video_thump{
	height: 120px;
	width: 170px;
}

.video_thump:hover{
	border-radius: 5px;
	box-shadow: 0 0 10px white;
}

.video_thump:active{
	border-radius: 5px;
	box-shadow: 0 0 10px white;
	height: 220px;
	width: 370px;
}

.PlayOnLink {
  color: #0088cc;
}

.fb_us_id{
	text-indent: -999;
}

.message-box{
	height: 300px;
	width: 250px;
	border: 2px solid orange;
	display: none;
}

.fb_friend_items{
	background: black;
	color: #FF6600;
	text-shadow: 0 0 1px white;
	margin-top: 4px;
	border-radius: 3px;
}

.facebook_connect, .party_box{
	display: none;
}


#playon_info{
	color: #FF6600;
}


.hd{
	position: absolute;
	left: 155px;
	top: 5px;
}

.full_hd{
	position: absolute;
	left: 190px;
	top: 0px;
	text-align: center;
}

.sd{
	position: absolute;
	left: 120px;
	top: 5px;
}

.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;
}
.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
	background-color: white;
	width: 150px;
}

.ui-menu-item a:hover{
	color: black;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
	cursor: default;
}

.playlist_results{
	display:none;
}

.search_results{
	display:block;
}

.plares{
	background: black;
	border-radius: 5px;
	text-align: center;
}

.search_results  h1, .play_title{
	background: #FF6600;
	border-radius: 5px;
	text-align: center;
}

.ui-state-highlight{
	color:white;
	
}
.ui-draggable1-dragging h1{
	font-size: 0px;
	text-align: center;
	text-transform: uppercase;
}



.ui-draggabl1e-dragging{
	border: 5px solid red;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	position: fixed;
}

div.slide-out {
  float: right;
  padding: 15px;
  position: fixed; 
  top:50px;
  right: -355px;
  text-align: left;  
  width: 400px;
  z-index: 999;
  height: 64px;
  }

  .test{
  	position: fixed;
  }

  .non{
  	text-indent: -9999px;
  }
  
  
#facebook_preview {
	height:64px;
	width:64px;
	float:left;
	margin:0;
	background: #3392FF;
	color:white;
	text-align: center;
	border-radius: 5px;
} 
	 
#facebook {
	overflow-y:scroll; 
	background:white;
	height:318px;
	width:240px;
	float:left;
	padding:7px 10px 5px 5px;
  	border-radius: 10px;
}

#list_titles{
	left: 0px;
}


#sidebar ul li div a {
	overflow: hidden;
	width: 148px;
	height: 20px;
	margin: 2px 0;
	padding: 2px 0;
	font-size: 15px;
	line-height: 20px;
}

.playlist_index{ 
	width:200px;
}
.playlist_item > a{
	text-align: center;
	font-size: 13px !important;
	opacity: 0.5;
}

.playlist_item {
	width: 300px;
}
#ytapiplayer{
	width: 700px;
	height: 300px; 
}


.volume_bar{  
    border-width: 1px;  
    border-style: solid;  
    border-color: #333 #333 #777 #333;  
    border-radius: 25px;  
    height: 13px; 
    width: 20px; 
    background-color: #8e8d8d;  
    background: orange; 
  	box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),   
                 0 1px 0 0px rgba(250, 250, 250, .5);  
  	 
}  


#volume-bar{
	width: 100%;
	position: relative;
	text-align: left;
}

.ui-slider {
	position: relative;
	text-align: left;

}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	background: #111 ;
	border-radius: 10px;
	box-shadow: 0 0 10px orange;
}



.ui-slider .ui-slider-handle:hover {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	background: white ;
	border-radius: 10px;
	box-shadow: 0 0 10px orange;
	outline: none;
}


.ui-slider .ui-slider-handle:active {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	background: white ;
	border-radius: 10px;
	box-shadow: 0 0 30px orange;
	outline: none;
}

.login-info, .show_online_friends, .show_unread_messages{
	display: none;
}


.friend_item_message_box{
	position: fixed;
	right: 375px;
	top: 100px;
	height: 300px;
	width: 250px;
	background: white;
	border: 3px solid red;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	outline: none;
}

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
	outline: none;
}

.search_results_menu:hover{
	color: orange;
}

.add_to_playlist{
	display: none;
	position: fixed;
	top: 10px;
}

.search_results_menu{
	color: black;
	margin-top: -25px;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.1em;
	margin-left: -.6em;
	color:black;
	outline: none;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
	outline: none;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}



 

.ui-corner-all{
	 width: 550px;  
}
.ui-slider-handle {  
    position: absolute;  
    z-index: 2;  
    width: 15px;  
    height: 15px;  
    cursor: pointer;  
    background:   white;
    border-radius: 5px;
    font-weight: bold;  
    color: #1C94C4;  
    
	margin-left: 150px;
	margin-top: -2px;

} 





.ui-slider-range {  
    background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);  
    position: absolute;  
    border: 0;  
    top: 0;  
    height: 100%;  
    border-radius: 25px;  
} 


.myytplayer1{
	width: 100%;
	height: 100%;
}

.myytplayer{
	width: 700px;
	height: 300px;
}

.video-wrapper > div {
	display: inline-block;
}

.video-wrapper1 > div {
	display: block !important;
}

.icon-resize-small{
	font-size: 35px;
	padding-left: 50px;
}

.video-wrapper {
	padding:0;
    position:none;
    margin-top: 10px;
} 

.video-wrapper1 {
	padding:0;
    position:absolute;
    margin-top: 0 !important;
  	margin:0;
	top:0;
    left:0;
    z-index:1040;
  	height:100%;
  	width: 100%;
} 

img{
	width: 100%;
	height: 100%;
	
	display:block;
}

.cancel-pop{
	text-transform: none;
}

.play_title{
	font-size: 20px;
	color:white;
}

.play_title:hover{
	font-size: 22px;
	color:white;
}

.menu-pop{
	height: 315px;
	width: 400px;
	display: none;
	border: 10px solid white;
	border-radius: 5px;
	box-shadow: 0 0 10px white;
}



.video_menu{
	margin-right: 10px;
	color: white;
}

.logout{
	top: 0px !important;
	left: 150px;
	position: absolute;
}

.playlist_container{
	margin-left: -175px;
}

.draggable{
	margin:10px;
	line-height: 50px;
}

.draggable1{
	margin:0px;
	line-height: 10px;
}


#video-wrapper{
	margin-top: 10px;
}

.info-font{
	color: orange;
}

#login{
	position: absolute;
	top: 0;
	left: 110px;
}

