@font-face{
    font-family:FontAwesome;
    src:url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.eot?#iefix) format('eot'),
	url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.woff) format('woff'),
	url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf) format('truetype'),
	url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.svg#FontAwesome) format('svg');
    font-weight:400;font-style:normal;
}

body, html {height: 100%}
.modal .hide .fade .in{display: none;}
.create_play_on1{position:absolute; top:100px; left:300px; color:orange;}
.amuna{padding:0;}
.playlist_form{display:none}
.amina{margin-top:20px}
.fill-fill{width: 100%;}
#search{
	position: absolute;
	left: 250px;
	top: 10px;
}
.play_form{
	display:none;
}

.playlist_results{
	display:none;
}

.search_results{
	display:block;
}

.plares{
	background: black;
	border-radius: 5px;
	text-align: center;
}

.search_results  h1{
	background: black;
	border-radius: 5px;
	text-align: center;
}

.ui-state-highlight{
	color:white;
	
}
.ui-draggable-dragging h1{
	font-size: 0px;
	text-align: center;
	text-transform: uppercase;
}

.ui-draggable-dragging{
	height: 50px;
	width: 200px;
	border: 5px solid red;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	position: fixed;
}

#list_titles{
	left: 0px;
}


#sidebar ul li div a {
	overflow: hidden;
	width: 148px;
	height: 20px;
	margin: 2px 0;
	padding: 2px 0;
	font-size: 15px;
	line-height: 20px;
}

.playlist_index{ 
	width:200px;
}
.playlist_item > a{
	text-align: center;
	font-size: 13px !important;
	opacity: 0.5;
}

.playlist_item {
	width: 300px;
}
#ytapiplayer{
	width: 700px;
	height: 300px; 
}

img{
	width: 100%;
	height: 100%;
	
	display:block;
}

.play_title{
	font-size: 20px;
}

.play_title:hover{
	font-size: 22px;
	color:white;
}

.menu-pop{
	height: 200px;
	width: 200px;
	border: 3px solid red;
	display: none;
}

.video_menu{
	margin-right: 10px;
	color: white;
}

.logout{
	top: 0px !important;
	left: 150px;
	position: absolute;
}

.playlist_container{
	margin-left: -175px;
}

.draggable{
	margin:10px;
	line-height: 50px;
}

.draggable1{
	margin:0px;
	line-height: 10px;
}

#video-wrapper{
	margin-top: 10px;
}

.info-font{
	color: orange;
}

#login{
	position: absolute;
	top: 0;
	left: 110px;
}

