body, html {height: 100%}
.modal .hide .fade .in{display: none;}
.create_play_on1{position:absolute; top:100px; left:300px; color:orange;}
.amuna{padding:0;}
.playlist_form{display:none}
.amina{margin-top:20px}
.fill-fill{width: 100%;}
#search{
	position: absolute;
	left: 250px;
	top: 10px;
}
.play_form{
	display:none;
}

.playlist_results{
	display:none;
}

.search_results{
	display:block;
}

.plares{
	background: black;
	border-radius: 5px;
	text-align: center;
}

.search_results  h1{
	background: black;
	border-radius: 5px;
	text-align: center;
}

.ui-state-highlight{
	color:white;
	
}
.ui-draggable-dragging h1{
	font-size: 0px;
	text-align: center;
	text-transform: uppercase;
}

.ui-draggable-dragging{
	height: 50px;
	width: 200px;
	border: 5px solid red;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	position: fixed;
}

.playlist_index{ 
	width:200px;
}
.playlist_item > a{
	font-size: 10px !important;
	opacity: 0.5;
}

#ytapiplayer{
	width: 700px;
	height: 300px; 
}