<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<div id="main">
			<header class="header">
				<nav class="nav">
	    			<div>
	    				<ul class="hmenu">
	    					<li>
	    						<a href="/">Home</a>
	    					</li>
	    					<li>
	    						<a href="/contact">Contact</a>
	    					</li>
	    				</ul> 
	       			</div>
	    		</nav>
	    	</header>
	    	<div class="footer">
				<h6>Unless otherwise stated, programs and writing is © 2013 by Cevin Eichnau</h6>
			</div>
	    </div>

<%= yield %>

</html>
